*/desktop.ini
*cache
*~
.config/scoop/config.json
.dbus-keyrings
.lesshst
.ssh/known_hosts
AppData/Local
AppData/LocalLow
AppData/Roaming/.emacs.d
AppData/Roaming/Adobe
AppData/Roaming/Gpg4win/kleopatrarc
AppData/Roaming/Microsoft
AppData/Roaming/Mozilla
AppData/Roaming/Thunderbird
AppData/Roaming/Verein zur Förderung eines Deutschen Forschungsnetzes
AppData/Roaming/gnupg
AppData/Roaming/pdfcpu
Application Data
Desktop
Documents
Downloads
Favorites
IntelGraphicsProfiles
Local Settings
My Documents
NTUSER*
NetHood
OneDrive
OpenVPN
Pictures
PrintHood
Projects
Recent
Searches
SendTo
Start Menu
Templates
Videos
cache
iCloudDrive
ntuser*
scoop/apps
scoop/buckets
scoop/cache
scoop/persist/miktex
scoop/persist/notepadplusplus
scoop/persist/obs-studio
scoop/persist/opentabletdriver/userdata/Cache
scoop/persist/opentabletdriver/userdata/Logs
scoop/persist/opentabletdriver/userdata/Plugins
scoop/persist/rufus
scoop/persist/thunderbird-esr
scoop/persist/ungoogled-chromium
scoop/persist/vlc/portable
scoop/persist/winscp
scoop/shims
