*cache
*~
.config/scoop/config.json
.dbus-keyrings
.lesshst
.ssh/known_hosts
AppData/Local
AppData/Local/gopass/gopass/reminder/overdue
AppData/LocalLow
AppData/Roaming/.emacs.d
AppData/Roaming/Adobe
AppData/Roaming/Gpg4win
AppData/Roaming/Microsoft
AppData/Roaming/Verein zur Förderung eines Deutschen Forschungsnetzes/
AppData/Roaming/ghc/ghci_history
AppData/Roaming/gnupg
Application Data/
Cookies
Desktop
Documents
Downloads
Favorites
Contacts
Links
Music
Saved Games
*/desktop.ini
IntelGraphicsProfiles
Local Settings
My Documents
NTUSER.DAT*
NetHood
OneDrive
OpenVPN
Pictures
PrintHood
Projects
Recent
Searches
SendTo
Start Menu
Templates
Videos
cache
ntuser*
scoop/apps
scoop/buckets
scoop/cache
scoop/persist/dnscrypt-proxy
scoop/persist/notepadplusplus
scoop/persist/ungoogled-chromium
scoop/persist/vlc/portable
scoop/persist/rufus
scoop/shims
